{% extends "base.html" %}
{% block content %}
<title>Pay</title>

<div class="container py-5">
    <h2 class="text-center mb-4">Thank you for your purchase!</h2>
    <div class="alert alert-info">
        <p>This is for a university project and no real transaction has occurred. Thank you for testing out this site!</p>
        <p>We hope you have evjoyed using this store.</p>
    </div>
    <div class="text-center mt-4">
        <a href="{% url 'home' %}" class="btn btn-primary">Return Home</a>
    </div>
</div>






{% endblock %}